:root {
  --rich-black: #0a111f;
  --oxford-blue: #14213d;
  --orange-web: #fca311;
  --platinum: #979ca6;
  --independece: #495267;
  --silver: #e5e5e5;
  --white: #f9f9f9;
  --header-font-family: "Rubik", Helvetica, Arial, sans-serif;
  --body-font-family: "Open Sans", Helvetica, Arial, sans-serif;
  --quote-font-family: "PT Serif", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: var(--rich-black);
    --body-color: var(--platinum);
    --header-color: var(--white);
    --quote-accent-color: var(--oxford-blue);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --body-background: var(--white);
    --body-color: var(--independece);
    --header-color: var(--rich-black);
    --quote-accent-color: var(--silver);
  }
}

html,
body {
  background-color: var(--body-background);
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-weight: 300;
  font-size: 20px;
  padding-top: 1em;
  padding-bottom: 2em;
}

h1,
h2,
h3,
h4 {
  color: var(--header-color);
  font-family: var(--header-font-family);
  font-weight: 300;
}

a,
a:visited {
  color: var(--header-color);
  text-decoration: underline dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--platinum);
  transition: all 300ms;
}

a:hover,
a:focus {
  text-decoration: underline solid;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--orange-web);
  transition: all 300ms;
}

@media only screen and (max-width: 767px) {
  .page-wrap {
    width: calc(100% - 2em);
    margin: 0px auto;
    padding: 0px 1em;
  }
}

@media only screen and (min-width: 768px) {
  .page-wrap {
    max-width: 720px;
    margin: 0px auto;
  }
}

.articles {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.articles > li {
  margin-left: 0px;
  padding-left: 0px;
}

.articles > li > h2 {
  margin-bottom: 0px;
}

blockquote {
  font-family: var(--quote-font-family);
  font-style: italic;
  font-size: 1.25em;
  margin: 1em 0em;
  padding: 1em;

  position: relative;
}

blockquote p {
  position: relative;
  z-index: 2;
}

blockquote::after {
  position: absolute;
  right: -48px;
  top: -96px;
  content: "„";
  color: var(--quote-accent-color);
  font-size: 512px;
  line-height: 0px;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
}

.logo {
  color: var(--header-color);
  font-family: var(--header-font-family);
  font-weight: 300;
  font-size: 32px;
  text-decoration: none;
  line-height: 42px;
  height: 42px;
}

.logo::after {
  content: "👋";
  font-size: 32px;
  position: relative;
  margin-left: 0.5em;
  display: none;
  float: right;
  animation: wave;
  animation-duration: 300ms;
  animation-iteration-count: 3;
}

.logo:hover {
  color: var(--header-color);
}

.logo:hover::after {
  display: block;
}

.navigation a {
  text-decoration: none;
  margin-left: 1em;
}

.navigation a:hover {
  color: var(--orange-web);
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.project {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  padding-top: 4em;
  padding-bottom: 4em;
}

.project-information {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-bottom: 2em;
}

.project-information h2 {
  margin: 0px;
}

.project-display {
  max-width: 100%;
}

.project-image {
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 720px;
  height: auto;
  margin-bottom: 1em;
}

footer {
  padding-top: 2em;
}

.footer-links a {
  text-decoration: none;
  margin-right: 1em;
}

.footer-links a:hover {
  color: var(--orange-web);
}
