---
import Page from "@layouts/Page.astro";
---

<Page
  title="Page not found"
  description="I'm sorry, but you seem to have come to the wrong place."
>
  <p class="text-xl">
    I'm sorry, but you seem to have come to the wrong place.
  </p>
  <p class="text-xl">
    The page you are looking for have either been moved, deleted or never
    existed at all.
  </p>
  <div
    class="flex whitespace-no-wrap overflow-x-hidden bg-red-600 text-neutral-100 font-heading text-lg absolute top-0 left-0 w-full"
  >
    <div class="relative">
      <ul class="flex animate-marquee whitespace-nowrap">
        <li class="mx-4">404 - PAGE NOT FOUND</li>
        <li class="mx-4">404 - PAGE NOT FOUND</li>
        <li class="mx-4">404 - PAGE NOT FOUND</li>
        <li class="mx-4">404 - PAGE NOT FOUND</li>
        <li class="mx-4">404 - PAGE NOT FOUND</li>
        <li class="mx-4">404 - PAGE NOT FOUND</li>
      </ul>
      <ul class="flex absolute top-0 animate-marquee2 whitespace-nowrap">
        <li class="mx-4">404 - PAGE NOT FOUND</li>
        <li class="mx-4">404 - PAGE NOT FOUND</li>
        <li class="mx-4">404 - PAGE NOT FOUND</li>
        <li class="mx-4">404 - PAGE NOT FOUND</li>
        <li class="mx-4">404 - PAGE NOT FOUND</li>
        <li class="mx-4">404 - PAGE NOT FOUND</li>
      </ul>
    </div>
  </div>
</Page>
