---
import FirstPage from "@layouts/FirstPage.astro";
---

<FirstPage
  title="Home"
  description="Edvin Lindén is a Product Leader at Fortnox that spends his time outside work creating things for digital devices."
>
  <div class="flex flex-col-reverse md:flex-row justify-between items-center">
    <div class="w-full md:w-[360px] md:pr-6 text-pretty">
      <h1
        class="font-sans font-light text-neutral-500 text-[20px] tracking-normal leading-6 mt-4"
      >
        Hi, my name is Edvin and I am a product leader living in Sweden.
      </h1>
      <p>
        I am currently working with customer experience at
        <a
          href="https://fortnox.se"
          target="_blank"
          title="Fortnox"
          rel="noopener noreferrer">{"Fortnox"}</a
        >, helping businesses become more successful.
      </p>
      <p>
        Aside of my day job I've been developing a few apps and keep this as a
        playground to experiment with cool tech.
      </p>
    </div>
    <picture
      class="relative w-full sm:w-[400x] md:w-[360px] h-[480px] sm:h-[600px] md:h-[450px] mx-auto mb-8 md:mb-0"
    >
      <img
        class="absolute top-0 bottom-0 left-0 right-0 w-full h-full object-cover rounded-xl"
        src="/images/edvin-linden-2024.webp"
        loading="lazy"
        alt="Image of Edvin Lindén 2024"
      />
    </picture>
  </div>
  <div class="mt-24">
    <h2 class="mb-16" id="projects">Projects</h2>
  </div>
  <a
    href="https://killedby.tech/?ref=edvinlinden.se"
    target="_blank"
    rel="noopener noreferrer"
    class="flex flex-col md:flex-row no-underline hover:text-neutral-500 rounded-xl hover:bg-neutral-100 md:p-6 mb-8"
  >
    <div
      class="bg-[url('/images/killedbytech-2023-compressed.webp')] bg-cover bg-center w-full md:w-[180px] h-[300px] md:h-[180px] rounded-xl p-4 border border-neutral-300 mb-8 md:mb-0"
    >
    </div>
    <div class="w-full md:w-[540px] md:pl-8">
      <div class="flex flex-col md:flex-row md:items-center justify-between">
        <h3 class="my-0 text-[20px]">Killedby.tech</h3>
        <span class="text-xs font-medium">2022 – 2025 </span>
      </div>
      <p>
        We all know about the Google Graveyard, the list of products that Google
        have discontinued through the years.
      </p>
      <p>
        While stumbling over a graveyard dedicated for Microsoft I was inspired
        to create a page where discontinued products from all major tech
        companies where listed.
      </p>
    </div>
  </a>
  <a
    href="/the-impossible-safe/"
    class="flex flex-col md:flex-row no-underline hover:text-neutral-500 rounded-xl hover:bg-neutral-100 md:p-6 mb-8"
  >
    <div
      class="bg-[url('/images/theimpossiblesafe-2023-compressed.webp')] bg-cover bg-center w-full md:w-[180px] h-[300px] md:h-[180px] rounded-xl p-4 border border-[#0084d1] mb-8 md:mb-0"
    >
    </div>
    <div class="w-full md:w-[540px] md:pl-8">
      <div class="flex flex-col md:flex-row md:items-center justify-between">
        <h3 class="my-0 text-[20px]">The Impossible Safe</h3>
        <span class="text-xs font-medium">2022 – 20░░</span>
      </div>
      <p>
        A safe cracking game for iPhone inspired by the Apple Watch game Break
        This Safe from Rafael Conde.
      </p>
      <p>
        The project was my second one using Swift and it's based around the
        haptic feedback in the iPhone. By feeling different vibrations you'll be
        able to find the correct combination to the safe.
      </p>
    </div>
  </a>
  <a
    href="https://boxtimer.app/?ref=edvinlinden.se"
    target="_blank"
    rel="noopener noreferrer"
    class="flex flex-col md:flex-row no-underline hover:text-neutral-500 rounded-xl hover:bg-neutral-100 md:p-6 mb-8"
  >
    <div
      class="bg-[url('/images/theboxtimer-2023-compressed.webp')] bg-cover bg-center w-full md:w-[180px] h-[300px] md:h-[180px] rounded-xl p-4 mb-8 md:mb-0"
    >
    </div>
    <div class="w-full md:w-[540px] md:pl-8">
      <div class="flex flex-col md:flex-row md:items-center justify-between">
        <h3 class="my-0 text-[20px]">Box Timer – Workout Timer</h3>
        <span class="text-xs font-medium">2021 – 20░░</span>
      </div>
      <p>
        2020 was a strange year to say the least, it forced a lot of us to
        workout at home or outside. Due to the situation I went looking for a
        good workout timer to keep track of my workouts.
      </p>
      <p>
        All the apps I tested was either too complicated, bloated with features
        or had way too many ads(let's face it, no one likes ads). So I took it
        upon myself to create a simple workout timer, free from ads and
        unnecessary features.
      </p>
    </div>
  </a>
</FirstPage>
