---
import { formatDate } from "utils";
import Wrap from "./Wrap.astro";

export interface Props {
  headline: string;
  articles: any;
}

const { headline, articles } = Astro.props;
---

<Wrap cls="pt-24 pb-12" innerCls="flex flex-col items-center">
  <div class="flex flex-col justify-between w-full md:w-[720px]">
    {
      articles.map((article: any) => (
        <>
          <div class="flex flex-col mb-8">
            <a
              href={article.url}
              class="no-underline hover:decoration-4 flex-grow"
            >
              <h2 class="mt-0 mb-2 text-xl">{article.frontmatter.title}</h2>
            </a>
            <div class="flex flex-row text-xs text-left text-neutral-500">
              <span class="mr-2">{formatDate(article.frontmatter.date)}</span>⋅
              <span class="ml-2">
                {article.frontmatter.readingTime} reading time
              </span>
            </div>
          </div>
        </>
      ))
    }
  </div>
</Wrap>
