---
import GoodbyeOverlay from "@components/GoodbyeOverlay.astro";
import Wrap from "@components/Wrap.astro";

const disableTracking = import.meta.env.DEV;
---

<Wrap cls="py-6">
  <footer class="border-t-[1px] border-neutral-300 py-6">
    <div class="flex justify-between mb-16 text-xs">
      <div class="group text-neutral-500">
        <span
          class="inline-block transition-all duration-300 group-hover:rotate-180 group-hover:translate-y-[-1px]"
          >&copy;</span
        > 2023
      </div>
      <div>
        <a href="/privacy/" title="Privacy" class="font-lighter no-underline">
          Privacy
        </a>
        &nbsp;
        <a
          href="mailto:hello@edvinlinden.se"
          target="_blank"
          title="Email"
          rel="noopener noreferrer"
          class="font-lighter no-underline"
        >
          Email
        </a>
        &nbsp;
        <a
          href="https://www.linkedin.com/in/edvin-linden"
          target="_blank"
          title="LinkedIn"
          rel="noopener noreferrer"
          class="font-lighter no-underline"
        >
          LinkedIn
        </a>
        &nbsp;
        <a
          href="/rss.xml"
          target="_blank"
          title="RSS Feed"
          class="font-lighter no-underline">RSS Feed</a
        >
      </div>
    </div>
  </footer>
</Wrap>
<GoodbyeOverlay />

{
  disableTracking ? null : (
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="CIYVRBZT"
      defer
    />
  )
}
