---
import GoodbyeOverlay from "@components/GoodbyeOverlay.astro";
import Wrap from "@components/Wrap.astro";

const disableTracking = import.meta.env.DEV;
---

<Wrap cls="py-6">
  <footer>
    <div class="flex justify-between mb-16 text-xs">
      <div class="text-neutral-500 dark:text-neutral-600">
        <span>&copy; 2023</span>
      </div>
      <div>
        <a href="/privacy/" title="Privacy" class="font-lighter no-underline">
          Privacy
        </a>
        &nbsp;
        <a
          href="mailto:hello@edvinlinden.se"
          target="_blank"
          title="Email"
          rel="noopener noreferrer"
          class="font-lighter no-underline"
        >
          Email
        </a>
        &nbsp;
        <a
          href="https://www.linkedin.com/in/edvin-linden"
          target="_blank"
          title="LinkedIn"
          rel="noopener noreferrer"
          class="font-lighter no-underline"
        >
          LinkedIn
        </a>
      </div>
    </div>
  </footer>
</Wrap>
<GoodbyeOverlay />

{
  disableTracking ? null : (
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="CIYVRBZT"
      defer
    />
  )
}
