---
import Wrap from "./Wrap.astro";
---

<Wrap>
  <div class="flex flex-col md:flex-row justify-between items-center mb-16">
    <a
      href="/"
      class="font-heading text-2xl no-underline text-neutral-800 dark:text-neutral-200 hover:text-neutral-800 hover:dark:text-neutral-200 hover:decoration-4 hover:decoration-sky-400 flex items-center"
    >
      Edvin Lindén
    </a>
    <div class="mt-8 md:mt-0">
      <a
        href="/"
        class="no-underline mr-4 font-heading text-2xl text-neutral-800 dark:text-neutral-200 hover:text-neutral-800 hover:dark:text-neutral-200 hover:decoration-4 hover:decoration-sky-400"
      >
        Home</a
      >
      <a
        href="/writing/"
        class="no-underline mr-4 font-heading text-2xl text-neutral-800 dark:text-neutral-200 hover:text-neutral-800 hover:dark:text-neutral-200 hover:decoration-4 hover:decoration-sky-400"
      >
        Writing</a
      >
      <a
        href="/about/"
        class="no-underline font-heading text-2xl text-neutral-800 dark:text-neutral-200 hover:text-neutral-800 hover:dark:text-neutral-200 hover:decoration-4 hover:decoration-sky-400"
      >
        About</a
      >
    </div>
  </div>
</Wrap>
