---
export interface Props {
  cls?: string;
  innerCls?: string;
}

const { cls, innerCls } = Astro.props;
---

<div class={`${cls}`}>
  <div class={`w-full mx-auto my-0 px-4 md:px-12 font-sans ${innerCls}`}>
    <slot />
  </div>
</div>
