---
import Page from "@layouts/Page.astro";
---

<Page
  title="The Impossible Safe"
  description="A safe cracking game for iPhone inspired by a Apple Watch game."
>
  <div class="max-w-full">
    <img
      src="/images/the-impossible-safe-cover.webp"
      class="rounded-xl w-full max-w-[720px] h-[auto] my-4 shadow-xl"
      alt="The Box Timer App"
      title="The Box Timer App"
      width="720"
      height="360"
    />
  </div>
  <p>
    A few years ago I saw Rafael Conde's <a
      href="http://breakthissafe.com/"
      title="Break This Safe"
      target="_blank"
      rel="noopener noreferrer">Break This Safe</a
    >, but when I got to try it for myself it didn't seem to work as intended.
    Maybe a couple WatchOS releases broke something vital for the game.
  </p>
  <p>
    However the concept stuck in my head and when I created my first iPhone App,
    The Box Timer, I tought that "hey, this is probably something I can pull
    off".
  </p>
  <p>
    With my newfound confidence I spent a couple of weekends hacking away,
    trying to build something that was both fun and simple enought for me to
    actually complete.
  </p>
  <p>
    The result is the game you see today – enjoy it as much as I did creating
    it!
  </p>
  <p>
    <center>
      <a
        href="https://apps.apple.com/us/app/the-impossible-safe/id1573468310"
        target="_blank"
        rel="noopener noreferrer"
        title="The Impossible Safe on the App Store"
        class="no-underline"
      >
        <img
          src="/images/appstore-badge.svg"
          alt="The Impossible Safe on the App Store"
          style="width: 250px; height: 54px"
          width="250"
          height="54"
        />
      </a>
    </center>
  </p>
</Page>
