---
import Page from "@layouts/Page.astro";
---

<Page
  title="The Impossible Safe – Privacy Policy"
  description="How I handle your data when using The Impossible Safe."
  headline="The Impossible Safe"
>
  <h2 id="privacy-policy">Privacy Policy</h2>
  <p>Updated March 11, 2024</p>
  <p>
    Edvin Lindén built the The Impossible Safe app(&quot;The App&quot;), it's provided
    at no cost and is intended for use as is.
  </p>
  <p>
    I believe that privacy should be protected. The best way to protect it is to
    share as little as possible. In order for me to operate the app and for you
    to use it there's no need to share any personal information. It's <i>just</i
    > a game after all.
  </p>
  <p>
    I may update the Privacy Policy, you are advised to review this page
    periodically for any changes. I will notify you of any changes by posting
    the new Privacy Policy on this page.
  </p>
  <p>
    If you have any questions about the Privacy Policy, do not hesitate to
    contact me at hello@edvinlinden.se.
  </p>
</Page>
