@tailwind base;

@layer base {
  html {
    @apply text-[20px] pt-8;
  }
  body {
    @apply bg-neutral-50 font-sans font-light text-[20px] pt-8 text-neutral-500;
  }
  h1 {
    @apply mt-12 mb-4 text-3xl md:text-5xl  font-heading font-black tracking-tight no-underline text-neutral-800;
  }
  h2 {
    @apply mt-12 mb-4 text-xl md:text-3xl font-heading font-black tracking-wide no-underline text-neutral-800;
  }
  h3 {
    @apply mt-12 mb-4 text-lg md:text-xl font-heading font-bold tracking-wide no-underline text-neutral-800;
  }
  h4 {
    @apply mt-12 mb-4 text-base md:text-lg text-base font-heading font-medium tracking-wide no-underline text-neutral-800;
  }
  a {
    @apply underline underline-offset-8 decoration-2;
  }
  a:hover {
    @apply underline underline-offset-8 decoration-2 text-sky-500 decoration-neutral-500;
  }
  p {
    @apply my-4 text-base;
  }
  mark {
    @apply bg-yellow-200 text-neutral-800 italic px-1;
  }

  article {
    @apply mb-24;

    animation: fade-in-and-up 1000ms ease-in-out;
  }

  blockquote {
    @apply pl-4 border-l-4 border-neutral-300 text-neutral-500;
  }

  main {
    @apply flex flex-col flex grow mb-24;
  }
}

@keyframes fade-in-and-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@tailwind components;
@tailwind utilities;
