@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-sans: Helvetica, Arial, sans-serif;
  --font-heading: Geologica, Bakbak One, Helvetica, Arial, sans-serif;

  --text-2xs: 0.65rem;

  --animate-marquee: marquee 30s linear infinite;
  --animate-marquee2: marquee2 30s linear infinite;
  --animate-logofirst: logofirst 500ms ease 300ms forwards;
  --animate-logolast: logolast 500ms ease 300ms forwards;
  --animate-fade-in-200: fade-in 200ms ease 200ms forwards;
  --animate-fade-in: fade-in 750ms ease-in-out 200ms forwards;
  --animate-portrait-rotate: portrait-rotate 400ms ease-in-out 200ms forwards;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes logofirst {
    0% {
      transform: translateX(25px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes logolast {
    0% {
      transform: translateX(25px);
      opacity: 0;
    }
    100% {
      transform: translateX(45px);
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes portrait-rotate {
    0% {
      opacity: 0;
      transform: rotate(-6deg) translateX(-30%);
    }
    100% {
      opacity: 1;
      transform: rotate(6deg) translateX(0%);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  html {
    @apply text-[20px] pt-8;
  }
  body {
    @apply bg-neutral-50 font-sans font-light text-[20px] pt-8 text-neutral-500;
  }
  h1 {
    @apply mt-12 mb-4 text-3xl md:text-5xl  font-heading font-black tracking-tight no-underline text-neutral-800;
  }
  h2 {
    @apply mt-12 mb-4 text-xl md:text-3xl font-heading font-black tracking-wide no-underline text-neutral-800;
  }
  h3 {
    @apply mt-12 mb-4 text-lg md:text-xl font-heading font-bold tracking-wide no-underline text-neutral-800;
  }
  h4 {
    @apply mt-12 mb-4 text-base md:text-lg text-base font-heading font-medium tracking-wide no-underline text-neutral-800;
  }
  a {
    @apply underline underline-offset-8 decoration-2;
  }
  a:hover {
    @apply underline underline-offset-8 decoration-2 text-sky-500 decoration-neutral-500;
  }
  p {
    @apply my-4 text-base;
  }
  mark {
    @apply bg-yellow-200 text-neutral-800 italic px-1;
  }

  article {
    @apply mb-24;

    animation: fade-in-and-up 1000ms ease-in-out;
  }

  blockquote {
    @apply pl-4 border-l-4 border-neutral-300 text-neutral-500;
  }

  main {
    @apply flex flex-col flex grow mb-24;
  }
}

@layer base {
  @keyframes fade-in-and-up {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0rem);
    }
  }
}
