---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../tailwind/base.css";
import PageMeta from "@components/PageMeta.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full m-0 p-0">
  <head>
    <PageMeta title={title} description={description} />
  </head>
  <body class="flex flex-col h-full">
    <Header />
    <main class="flex flex-col grow w-full md:w-[720px] mx-auto px-4 md:px-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>
