---
import Footer from "../components/Footer.astro";
import Wrap from "../components/Wrap.astro";
import Header from "../components/Header.astro";
import "../tailwind/base.css";
import PageMeta from "@components/PageMeta.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full m-0 p-0">
  <head>
    <PageMeta title={title} description={description} />
  </head>
  <body class="flex flex-col h-full">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
