---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import PageMeta from "@components/PageMeta.astro";
import "../tailwind/base.css";

export interface Props {
  title: string;
  description: string;
  headline?: string;
}

const { title, description, headline } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full m-0 p-0">
  <head>
    <PageMeta title={title} description={description} />
  </head>
  <body class="flex flex-col h-full">
    <Header />
    <main class="flex flex-col grow w-full md:w-[720px] mx-auto px-4 md:px-0">
      <h1 class="mb-8">
        {headline ? headline : title}
      </h1>
      <slot />
    </main>
    <Footer />
  </body>
</html>
