---
import Wrap from "@components/Wrap.astro";
import Page from "@layouts/Page.astro";
import { formatDate } from "utils";

const articles = await Astro.glob("./*.md");
---

<Page
  title="Things I've written"
  description="Things written by Edvin Lindén, mostly about side projects such as app development."
>
  <div class="flex flex-col w-full justify-between mt-16 mb-24">
    {
      articles
        .sort((a, b) => {
          return (
            new Date(b.frontmatter.date).valueOf() -
            new Date(a.frontmatter.date).valueOf()
          );
        })
        .map((article) => (
          <div class="flex flex-col mb-8">
            <a
              href={article.url}
              class="no-underline hover:decoration-4 grow"
            >
              <h2 class="mt-0 mb-2 text-2xl">{article.frontmatter.title}</h2>
            </a>
            <div class="flex flex-row text-xs text-left text-neutral-500">
              <span class="mr-2">{formatDate(article.frontmatter.date)}</span>⋅
              <span class="ml-2">
                {article.frontmatter.readingTime} reading time
              </span>
            </div>
          </div>
        ))
    }
  </div>
</Page>
