--- 
import Page from "@layouts/Page.astro"; 
--- 

<Page
  title="Sudoku - Classic Puzzle Game – Privacy Policy" description="How I handle your data when using Sudoku - Classic Puzzle Game." headline="Sudoku - Classic Puzzle Game" > 
	<h2 id="privacy-policy">Privacy Policy</h2> 
  	<p>Updated January 23, 2026</p> <p>
    		Edvin Lindén built the Sudoku - Classic Puzzle Game(&quot;The App&quot;), it's provided at no cost and is intended for use as is.
  	</p> <p>
		The privacy policy of Sudoku - Classic Puzzle Game is very simple – I do not collect any personal information about you!   
	</p> <p>
		I believe that privacy should be protected. The best way to protect it is to share as little as possible. In order for me to operate the app and for you to use it there's no need to share any personal information. It's just a game after all.
	</p>
	<p>
        To identify and fix any issues with the app I use TelemetryDeck to collect anonymized usage data. TelemetryDeck <mark>does not collect any personally identifiable information</mark> and <mark>does not use cookies</mark>. You can read more about TelemetryDeck’s privacy policy at
        <a
          href="https://telemetrydeck.com/privacy"
          title="TelemetryDeck - Privacy Policy"
          target="_blank"
          class="text-blue-600 hover:text-blue-800"
          >https://telemetrydeck.com/privacy</a>
    </p>
 	<p>
    	I may update the Privacy Policy, you are advised to review this page periodically for any changes.
	</p> <p>
    	If you have any questions about the Privacy Policy, do not hesitate to contact me at hello@edvinlinden.se.
 	</p>
</Page>
